# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tar

docker-redis/data
docker-redis/logs

docker-redis-cluster/7001/data
docker-redis-cluster/7002/data
docker-redis-cluster/7003/data
docker-redis-cluster/7004/data
docker-redis-cluster/7005/data
docker-redis-cluster/7006/data

docker-ubuntu/my-ubuntu*

docker-mysql/mysql_data

docker-s-pdf/extraConfigs
docker-s-pdf/trainingData

docker-rocketmq/data

docker-jenkins/jenkins_home

docker-prometheus/prometheus_data
docker-prometheus/pushgateway_data

docker-pg/pgdata